@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500;600;700;800;900&display=swap');
@import url(//fonts.googleapis.com/earlyaccess/karlatamilupright.css);
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

h1,h2 {
  font-family: 'Karla Tamil Upright', sans-serif;
  font-weight: 700;
  color: #293264;
}

span {
  font-weight: 400;
  font-size: 13px;
  text-align: center;
  color: #293264;
}

button {
  font-family: 'Inter', sans-serif;
  font-weight: 500;
}

button:focus {
  outline: none;
}